<div class="container-fluid p-0" *ngIf="teacherAddForm">
	<form class="w3-container" [formGroup]="teacherAddForm" (ngSubmit)="doRegister()">
	<div class="top-bar w3-teal">
		<h3><span *ngIf="index == undefined">Teacher Registration</span><span *ngIf="index != undefined">Teacher Update</span></h3>
	</div>

		<div class='card-custom'>
			<label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-user"></i><b>First Name</b></label>
		<input class="w3-input " type="text" formControlName="first_name">
		<div class="w3-panel w3-red"  *ngIf="teacherAddForm.controls.first_name.invalid && (teacherAddForm.controls.first_name.dirty || teacherAddForm.controls.first_name.touched)">Please enter 3 to 50 characters</div> 

		<label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-user"></i><b>Last Name</b></label>
		<input class="w3-input " type="text" formControlName="last_name">
		<div class="w3-panel w3-red"  *ngIf="teacherAddForm.controls.last_name.invalid && (teacherAddForm.controls.last_name.dirty || teacherAddForm.controls.last_name.touched)">Please enter  3 to 50 characters </div> 

		<label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-envelope-o"></i><b>Email Address</b></label>
		<input class="w3-input " type="text" formControlName="email">
		<div class="w3-panel w3-red"  *ngIf="teacherAddForm.controls.email.invalid && (teacherAddForm.controls.email.dirty || teacherAddForm.controls.email.touched)">Please enter valid email address</div> 

		<label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-phone"></i><b>Phone</b></label>
		<input class="w3-input " type="number" formControlName="phone">
        <div class="w3-panel w3-red"  *ngIf="teacherAddForm.controls.phone.invalid && (teacherAddForm.controls.phone.dirty || teacherAddForm.controls.phone.touched)">Please enter valid phone number</div>
        
        <label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-phone"></i><b>Subject</b></label>
		<input class="w3-input " type="text" formControlName="subject">
        
        
        <label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-phone"></i><b>Date of Joining</b></label>
		<input class="w3-input " type="text" formControlName="date_of_joining">
        
        <label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-phone"></i><b>Password</b></label>
		<input class="w3-input " type="text" formControlName="password">
		<div class="w3-panel w3-red"  *ngIf="teacherAddForm.controls.password.invalid && (teacherAddForm.controls.password.dirty || teacherAddForm.controls.password.touched)">Please enter valid password</div>
		<br>
		<button class="s-button" type="submit" [disabled]="!teacherAddForm.valid"><span *ngIf="index == undefined">Register</span><span *ngIf="index != undefined">Update</span> <i class="w3-medium fa fa-check"></i> </button>
		</div>

	</form>
</div>
